<app-page-header
  [title]="pageTitle"
  [subtitle]="pageSubTitle"
></app-page-header>

<!-- Stats Cards -->
<app-stats-card [stats]="stats"></app-stats-card>

<!-- Filters -->
<!-- <app-filtre
  (filterChange)="onFilterChange($event)"
  (resetFilters)="onResetFilters()"
>
</app-filtre> -->

<!-- Enquêtes Table -->
<app-enquetes-table
  [enquetes]="enquetes"
  [pagination]="pagination"
  (assignEnquete)="onAssignEnquete($event)"
  (viewDetails)="onViewDetails($event)"
  (pageChange)="onPageChange($event)"
>
</app-enquetes-table>

<!-- Assignment Modal -->
<app-assign-modal
  [isOpen]="isAssignModalOpen"
  [enquete]="selectedEnquete"
  [enqueteurs]="enqueteurs"
  (close)="onCloseAssignModal()"
  (assign)="onAssign($event)"
>
</app-assign-modal>

<div *ngIf="!!selectedEnquete">
  <app-modal-detail-demande
    [open]="openDetailModal"
    [demande]="selectedEnquete!"
    (close)="openDetailModal = false; selectedEnquete = null"
  >
  </app-modal-detail-demande>
</div>
