<div class="bg-white rounded-lg shadow border border-gray-200 overflow-hidden hover:shadow-lg transition-shadow relative">
  <div class="p-6">
    <div class="flex items-start justify-between">
      <div class="flex items-center">
        <div class="w-12 h-12 rounded-lg flex items-center justify-center bg-primary-500">
          <i class="fas fa-file-alt  text-white "></i>
        </div>
        <div class="ml-4">
          <h3 class="text-lg font-medium text-gray-900 line-clamp-1">{{ source.nom }}</h3>
          <p class="text-sm text-gray-500 line-clamp-1">{{ source.type.libelle }}</p>
        </div>
      </div>
    </div>

    <div class="mt-4">
      <p class="text-sm text-gray-600 line-clamp-1">{{ source.description }}</p>
    </div>

    <div class="mt-4 flex items-center justify-between">
      <div class="flex items-center">
        <span class="text-sm text-gray-500">Fiabilité:</span>
        <div class="ml-2 flex items-center">
          <div class="flex text-yellow-400">
            <i
              *ngFor="let star of getStars()"
              [class]="star ? 'fas fa-star text-xs' : 'far fa-star text-xs'"
            ></i>
          </div>
          <span class="ml-1 text-sm text-gray-600">({{ source.fiabilite }}/5)</span>
        </div>
      </div>
      <span
        class="px-2 py-1 text-xs font-medium rounded-full line-clamp-1 w-max bg-gray-100 text-gray-800"
      >
            {{ source.etat.libelle }}
          </span>
    </div>

    <div class="mt-4 flex items-center justify-between text-sm text-gray-500">
      <span>{{ getUsageText() }}</span>
      <span>{{ source.dateMiseAJour| date: "dd MMM YYYY HH:MM" }}</span>
    </div>

    <div class="mt-4 flex space-x-2">
      <button
        class="flex-1 px-3 py-2 text-white text-sm rounded-md transition-colors bg-primary-500 hover:bg-primary-600"
        (click)="onActionClick.emit(source)"
      >
        <i class="fas fa-external-link-alt mr-1"></i>Accéder
      </button>
      <button
        class="px-3 py-2 bg-gray-100 text-gray-700 text-sm rounded-md hover:bg-gray-200 transition-colors"
        (click)="onUpdatedClick.emit(source)"
      >
        <i class="fas fa-edit"></i>
      </button>
    </div>
  </div>
  <div [ngClass]="{ block: selected, hidden: !selected,  'animate-flash': selected }"
       class="z-10 absolute right-0 bottom-0 bg-primary-400 bg-opacity-10 top-0 left-0 border-2 border-primary-500 rounded-lg">
  </div>
</div>
