<!-- Header Section -->
<div class="mb-8">
  <div class="flex items-center justify-between">
    <div>
      <h1 class="text-3xl font-bold text-dark-900 mb-2">Mes Documents non classés</h1>
      <p class="text-dark-500">Retrouvez et organisez facilement vos documents d'enquêtes non classés</p>
    </div>
  </div>
</div>


<div class="bg-gray-50">

  <!-- Filters -->
  <app-document-sans-enquete-filtre
    (filtersChange)="onFiltersChange($event)"
    (uploadClick)="onUploadClick()"
  ></app-document-sans-enquete-filtre>

  <!-- Documents Grid -->
  <app-document-grid
    [documents]="documents$"
    [viewMode]="currentFilters.viewMode"
    (previewClick)="onPreviewClick($event)"
    (downloadClick)="onDownloadClick($event)"
    (deleteClick)="onDeleteClick($event)"
    [pagination]="pagination"
  ></app-document-grid>

  <!-- Upload Modal -->
  <app-document-upload-modal
    [isOpen]="isUploadModalOpen"
    (close)="onUploadModalClose()"
    (upload)="onUpload($event)"
  ></app-document-upload-modal>

  <!-- Preview Modal -->
  <app-document-preview-modal
    [isModalOpen]="isPreviewModalOpen"
    [document]="selectedDocument"
    (modalClosed)="isPreviewModalOpen=false"
  ></app-document-preview-modal>
</div>
