<app-page-header
  [title]="pageTitle"
  [subtitle]="pageDescription"
  [buttonIcon]="'fas fa-plus'"
  [buttonText]="'Nouvelle source'"
  [buttonLink]="['/enqueteur/traitement/source-info/nouveau']"
></app-page-header>

<app-source-filters
  [filter]="filter"
  (filtersChange)="onFiltersChange($event)"
></app-source-filters>

<div class="bg-white rounded-lg shadow border border-gray-200 ">
  <div *ngIf="filter.viewMode === 'grid'"
       class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-6 p-5 items-stretch">
    <app-source-card
      *ngFor="let source of sourceInfo$ | async"
      [source]="source"
      [selected]="showSourceId!=null && showSourceId == source.id"
      (onActionClick)="actionClick($event)"
      (onUpdatedClick)="updatedClick($event)"
    ></app-source-card>
  </div>

  <ng-container *ngIf="(sourceInfo$ | async) as sources">
    <app-source-list *ngIf="filter.viewMode === 'list'"
                     [sources]="sources"
                     [selected]="showSourceId"
                     (onActionClick)="actionClick($event)"
                     (onUpdatedClick)="updatedClick($event)"
    ></app-source-list>
  </ng-container>

  <div class="flex justify-center items-center">
    <app-loader [show]="loading"/>
  </div>

  <div *ngIf="(sourceInfo$ | async)?.length === 0 && !loading" class="text-center py-12">
    <i class="fas fa-folder-open text-6xl text-gray-400 mb-4"></i>
    <h3 class="text-lg font-medium text-gray-900 mb-2">Aucun document trouvé</h3>
    <p class="text-gray-500">
      Essayez de modifier vos critères de recherche ou ajoutez de nouveaux documents.
    </p>
  </div>
  <div *ngIf="(sourceInfo$ | async)?.length && !loading">
    <app-pagination
      [pagination]="pagination"
      (pageChanged)="setPagination($event)"
    ></app-pagination>
  </div>
</div>


