<!-- Main Content -->
<main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">

  <app-breadcrumb
    [items]="breadcrumbItems()"
    class="mb-8 animate-fade-in-up block"
  >
  </app-breadcrumb>

  <div
    class="mb-6 bg-white/80 glass-effect shadow-glass border-b border-secondary-200/50 sticky top-0 z-50 p-4 rounded-xl"
  >
    <app-page-header-1 [config]="headerConfig()" />
  </div>

  <app-entity-loader
    [fetchDataFn]="loadDemande"
    (goBack)="goBack()"
    (dataLoaded)="onDemandeLoaded($event)"
    (loadingState)="onLoadingStateChanged($event)"
    (errorState)="onLoadingError($event)"
  >
    <ng-template let-data>
      <ng-container *ngIf="data">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
          <!-- Main Content Column -->
          <div class="lg:col-span-2 space-y-6">
            <div class="my-4">
              <app-informations-generales
                [demande]="data"
              ></app-informations-generales>
            </div>
            <div class="my-4">
              <app-personne-concernee
                [concerne]="data.concerne"
              ></app-personne-concernee>
            </div>
            <div class="my-4">
              <app-documents [documents]="data.documents ?? []"></app-documents>
            </div>
          </div>

          <!-- Sidebar -->
          <div class="space-y-6">
            <app-demande-sidebar [demande]="demande()!"></app-demande-sidebar>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </app-entity-loader>
</main>
